* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* //FullPage styles */
.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7,
.s8 {
  position: relative;
}

.fp-sr-only ~ span {
  background-color: white !important;
}

.fp-right ul li {
  margin-bottom: 15px !important;
  margin-right: 14px !important;
}

ul li a.active span {
  background-color: #cb2d3e !important;
}

.header {
  background-color: transparent;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 0.5px solid #363636;
}

.border-white {
  border-color: #d3d3d3;
}

.container {
  padding: 0.5rem 3rem;
  display: flex;
}

.social-pages {
  margin: auto 4rem;
  margin-top: 1.5rem;
}

.social-pages .icon {
  margin-right: 1rem;
}

.logo {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.number {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin: auto 0;
  margin-top: 1.5rem;
}

.line {
  border: none;
  border-bottom: 0.2px solid #292929;
}

.s1 {
  background-image: url(../img/slider-03-bg-2.jpg);
  background-size: 100%;
  background-position: 0 -8rem;
}

ul li {
  list-style: none;
  margin-bottom: 1.5rem;
}

ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #343434;
  font-weight: 600;
}

.side-menu {
  margin-left: auto;
  margin-top: 0.5rem;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  transform: translateX(100%);
  z-index: 200;
  top: 0rem;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: white;
  padding: 2rem 3rem 2.5rem 3rem;
  width: 37.5%;
  transition: all 0.6s ease-in-out;
}

.sidebar__up {
  display: flex;
  margin-bottom: 2rem;
}

.animate {
  animation-name: toUp;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.social-icons .icon {
  margin-right: 1rem;
}

.x {
  margin-left: auto;
  cursor: pointer;
}

.x svg:hover {
  fill: #cb2d3e;
}

.copyright {
  display: block;
  margin-top: 3rem;
  color: rgb(104, 103, 103);
}

@keyframes toUp {
  from {
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.s4,
.s3,
.s5,
.s6,
.s7,
.s8 {
  padding: 0 8rem;
}

.black {
  color: black;
}

.s1 {
  padding: 0 0 0 8.65rem;
}

.s1 .red,
.white {
  margin-top: 0;
  font-weight: bold;
  line-height: 1;
  font-size: 4.1rem;
  margin-bottom: 0;
  color: white;
}

.s1 .red {
  margin-bottom: auto;
  margin-top: 1rem;
  color: #cb2d3e;
  display: block;
}

.s1 .white {
  margin-bottom: 0.5rem;
}

.primary-paragraph {
  width: 37%;
  font-size: 1rem;
  margin-top: 2.2rem;
  margin-bottom: 3.5rem;
  color: #767676;
  line-height: 1.8;
  letter-spacing: 1.2px;
}

.btn-primary {
  text-decoration: none;
  padding: 1rem 2.2rem;
  background-color: #cb2d3e;
  border-radius: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
}

.s2 {
  padding: 0 8rem;
  padding-top: 1rem;
}

h2 {
  font-size: 2rem;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.red {
  color: #cb2d3e;
}

.paragraph-s2 {
  font-size: 1rem;
  color: #767676;
  font-weight: 300;
  width: 70%;
  margin-bottom: 3rem;
}

.right-container {
  display: inline-block;
  width: 50%;
}

.year {
  font-size: 10rem;
  font-weight: 500;
  display: inline-block;
  position: absolute;
  color: white;
  top: -3rem;
}

.experience {
  position: relative;
  display: inline-block;
}

.year-container {
  position: relative;
  padding: 0.5rem 0.5rem;
  height: 9rem;
  width: 6.5rem;
  display: inline-block;
  background-color: #23a592;
}

.experience span:nth-child(2) {
  display: inline-block;
  position: absolute;
  top: 4rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1.5rem;
  width: 7rem;
}

.skills-section {
  display: inline-block;
  width: 40%;
  margin-left: 6.5rem;
}

.skills-name {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.skills-container:not(:last-child) {
  margin-bottom: 3rem;
}

.skills-container {
  background-color: #f2f2f2;
  position: relative;
  height: 0.5rem;
  border-radius: 10px;
}

.skills {
  background-color: #cb2d3e;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.web {
  width: 90%;
}

.media {
  width: 85%;
}

.illustration {
  width: 60%;
}

.photoshop {
  width: 95%;
}

.s3 {
  background-image: url(../img/video_bg.jpg);
  background-size: 100%;
  background-position: center;
  padding-left: 8.5rem;
}

.s3 h1 {
  margin-top: 3rem;
  font-size: 4.1rem;
  line-height: 1;
}

.s3 p {
  color: #343434;
  margin-bottom: 2rem;
}

.s3 a {
  display: block;
  width: 5rem;
  background: #cb2d3e;
  height: 5rem;
  border-radius: 50%;
  position: relative;
}

.s3 a svg {
  width: 1.7rem;
  position: absolute;
  left: 1.7rem;
  top: 1.6rem;
  fill: white;
}

.s3 a:hover svg {
  fill: #cb2d3e;
}

.s3 a:hover {
  background-color: transparent;
  border: 1px solid #cb2d3e;
}

.s4 h1 {
  font-size: 3rem;
  margin-bottom: 7rem;
  margin-top: 7rem;
}

.history-container {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.company-name,
.edu-paragraph,
.job-position {
  width: 30%;
}

.years {
  font-weight: bold;
  color: #767676;
}

.company-name {
  width: 20%;
  text-transform: uppercase;
  color: #cb2d3e;
}

.s5 {
  background-color: #1d1d1d;
}

.s5 h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
}

.s5-container {
  display: flex;
  justify-content: space-between;
}

.s5-container h3 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
}

.s5-paragraph {
  color: #767676;
  font-size: 1rem;
}

.s5-container img {
  width: 4rem;
  margin-bottom: 1.5rem;
}

.fp-controlArrow {
  border-color: transparent grey transparent transparent !important;
}

.fp-prev {
  margin-left: 2rem;
}

.fp-next {
  margin-right: 2rem;
  border-color: transparent transparent transparent grey !important;
}
.s7 h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.img-box {
  margin-bottom: 2rem;
  padding: 0 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.s7 img {
  opacity: 0.5;
  transition: ease 0.5s;
}

.s7 img:hover {
  opacity: 1;
}

.s8-container {
  display: flex;
  justify-content: space-between;
}

.s8 {
  background-color: #f5f5f5;
}

.s8 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #343434;
}

.s8-container a {
  text-decoration: none;
  display: block;
  width: 31.5%;
  margin-top: 2.5rem;

  background-color: white;
  position: relative;
}

.post img {
  width: 100%;
}

.post span {
  position: absolute;
  left: 1rem;
  top: 15.7rem;
  padding: 0.4rem 0.3rem;
  background-color: #cb2d3e;
  font-size: 0.85rem;
  letter-spacing: 2px;
  color: white;
  font-weight: 100;
}

.post h3 {
  font-size: 2rem;
  color: #343434;
  width: 80%;
  margin: 1rem;
  line-height: 1.2;
}

.post p {
  margin: 1rem 1.5rem 3rem;
  color: #464646;
  font-weight: 200;
  font-size: 0.9rem;
  word-spacing: 2px;
}
